#addChapter{
    margin: 10px !important;
}


.viewchapter{
    padding: 10px !important;
    margin: 10px !important;
}

.chapter{
    display: grid;
    grid-template-columns: 8fr 1fr 1fr;
    padding: 10px;
}

.edit,.delete{
    display: flex;
    align-items: center;
    justify-content: center;
}