.viewchapter{
    padding: 10px !important;
    margin: 10px !important;
}

.chapter{
    display: grid;
    grid-template-columns: 1fr;
    padding: 10px;
}

.styling{
    width: 100vw;
    display: flex;
    justify-content: flex-end;
    padding: 20px;
}

#home{
    padding: 0px !important;
}