{% extends 'base.html' %}

{% block title %}   
Scores
{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='CSS/admin_scores.css') }}">
{% endblock %}

{% block content %}
<div class="styling">
    <a href="{{ url_for('admin.quizzes', chapter_id=quiz.chapter.id) }}" class="btn btn-secondary" id="backButton">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8"/>
        </svg>
        <p>Back To Quizzes</p>
    </a>
</div>

<div class="viewquiz">
    <div class="quiz-details">
        <h2>Quiz no. {{ quiz.id }}</h2>
        <p>Chapter: {{ quiz.chapter.name }}</p>
        <p>Subject: {{ quiz.chapter.subject.name }}</p>
        <p>Date: {{ quiz.date_of_quiz }}</p>
    </div>
    <div class="score">
        <h2>All Scores</h2>
        {% for score in scores %}
            <div class="list-group">
                <div class="d-flex w-100 justify-content-between">
                    <h2>User: {{ score.user.username }}</h2>
                    <p>Score: {{ score.total_scored }}</p>
                    <p>Attempt Time: {{ score.timestamp }}</p>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}