{% extends "base.html" %}

{% block title %}
Quiz Search Results
{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/user_quizzes.css') }}"/>
{% endblock %}

{% block search %}
    <form class="d-flex" action="{{ url_for('user.search_quizzes', chapter_id = chapter_id ) }}" method="GET">
        <input class="form-control me-2" type="search" name="q" placeholder="Search Quizzes">
        <button class="btn btn-primary" type="submit">Search</button>
    </form>
{% endblock %}

{% block content %}
    <h2 style="margin: 10px;">Search Results for Quizzes: "{{ query }}"</h2>
    <div class="viewquiz">
        

        {% if quiz_results %}
            {% for quiz in quiz_results %}
                <div class="quiz">
                    <h3>Quiz-{{ quiz.id }}</h3>
                    <p>
                        Subject: {{ quiz.subject_name }}</br>
                        Chapter: {{ quiz.chapter_name }}</br>
                        Due Date: {{ quiz.date_of_quiz }}</br>
                        Time Duration: {{ quiz.time_duration }} minutes</br>
                        Remarks: {{ quiz.remarks }}
                    </p>
                </div>
                <div class="attempt">
                    <a href="{{ url_for('user.attempt_quiz', chapter_id=chapter_id, quiz_id=quiz.id) }}" class="btn btn-primary">Attempt Quiz</a>
                </div>
            {% endfor %}
        {% else %}
            <p class="alert alert-warning">No quizzes found.</p>
        {% endif %}
                
    </div>
{% endblock %}