{% extends 'base.html' %}

{% block title %}
Chapters
{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='CSS/user_chapters.css') }}">
{% endblock %}

{% block content %}
    <div class="styling">
        <a href="{{ url_for('user.subjects') }}" class="btn btn-secondary" id="home">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8"/>
            </svg>
            <p>Subjects</p>
        </a>
    </div>


    {% if chapters|length == 0 %}
        <h1>No Chapters Found</h1>
    {% else %}

        <div class="viewchapter">
            <h2>All Chapters Of {{ chapters[0].subject.name }}</h2>
            
                {% for chapter in chapters %}
                <div class="chapter">
                    <div class="list-group">
                            <a href="{{ url_for('user.quizzes', chapter_id = chapter.id)}}" class="list-group-item list-group-item-action flex-column align-items-start">
                            <div class="d-flex w-100 justify-content-between">
                                <h1 class="mb-1 btn btn-link" style="padding: 0px !important;">{{ chapter.name }}</h1>
                            </div>
                            <p class="mb-1">Description: {{ chapter.description }}</p>
                            </a>
                    </div>
                </div>
                {% endfor %}
        </div>
    {% endif %}
{% endblock %}